p{
    color: #F3F4F6;
    text-transform: capitalize;
    background-color: grey;
    font-weight: 400;
    font-family: sans-serif;

}

p:first-child, p:last-child{
    background-color: none;
}

p:hover{
    color: #111827;
}

p{
    margin: 0;
}

.siswa{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


